<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<import resource="classpath:spring/common.xml"/>
	<import resource="classpath:spring/spring-biz.xml"/>
	<import resource="classpath:spring/persistence.xml"/>
</beans>